In [1]:
import pyspark.mllib

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt

from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.functions import when  
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler
from pyspark.ml.feature import StandardScaler
from pyspark.ml.feature import ChiSqSelector
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.tuning import ParamGridBuilder, CrossValidator
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier

In [3]:
from pyspark.mllib.clustering import KMeans, KMeansModel
import pyspark.mllib
from numpy import array
from math import sqrt
import re
import ast
import time
import numpy as np
import pandas as pd
import seaborn as sns
import networkx as nx
import matplotlib.pyplot as plt
from pyspark.sql import SQLContext as hv
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType

In [4]:
PWD = !pwd
PWD = PWD[0]
from pyspark.sql import SparkSession
app_name = "project"
master = "local[*]"
spark = SparkSession\
        .builder\
        .appName(app_name)\
        .master(master)\
        .getOrCreate()
sc = spark.sparkContext

In [5]:
!ls project/train_tiny.csv

project/train_tiny.csv

In [6]:
df_tiny = spark.read.csv('project/train_tiny.csv', header = True, inferSchema = True)
rdd_train = sc.textFile('project/train.txt').map(lambda r : r.split('\t'))

In [7]:
df_schema=df_tiny.schema
cols = df_tiny.columns

In [17]:
df=rdd_train.toDF().limit(200).cache()
df.count()

200

In [18]:
df_bkp=df
df.take(1)

[Row(_1='0', _2='1', _3='1', _4='5', _5='0', _6='1382', _7='4', _8='15', _9='2', _10='181', _11='1', _12='2', _13='', _14='2', _15='68fd1e64', _16='80e26c9b', _17='fb936136', _18='7b4723c4', _19='25c83c98', _20='7e0ccccf', _21='de7995b8', _22='1f89b562', _23='a73ee510', _24='a8cd5504', _25='b2cb9c98', _26='37c9c164', _27='2824a5f6', _28='1adce6ef', _29='8ba8b39a', _30='891b62e7', _31='e5ba7672', _32='f54016b9', _33='21ddcdc9', _34='b1252a9d', _35='07b5194c', _36='', _37='3a171ecb', _38='c5c50484', _39='e8b83407', _40='9727dd16')]

In [10]:
#Store the original columns
df_schema=df.schema
cols = df.columns
pd.DataFrame(df.take(5), columns=df.columns).transpose()

            0         1         2         3         4
_1          0         0         0         0         0
_2          1         2         2                   3
_3          1         0         0       893        -1
_4          5        44         1
_5          0         1        14                   0
_6       1382       102       767      4392         2
_7          4         8        89                   0
_8         15         2         4         0         3
_9          2         2         2         0         0
_10       181         4       245         0         0
_11         1         1         1                   1
_12         2         1         3         0         1
_13                             3
_14         2         4        45                   0
_15  68fd1e64  68fd1e64  287e684f  68fd1e64  8cf07265
_16  80e26c9b  f0cf0024  0a519c5c  2c16a946  ae46a29d
_17  fb936136  6f67f7e5  02cf9876  a9a87e68  c81688bb
_18  7b4723c4  41274cd7  c18be181  2e17d6f6  f922efad
_19  25c83c98  25c83c98  25c83c98  25c83c98  25c83c98
_20  7e0ccccf  fe6b92e5  7e0ccccf  fe6b92e5  13718bbd
_21  de7995b8  922afcc0  c78204a1  2e8a689b  ad9fa255
_22  1f89b562  0b153874  0b153874  0b153874  0b153874
_23  a73ee510  a73ee510  a73ee510  a73ee510  a73ee510
_24  a8cd5504  2b53e5fb  3b08e48b  efea433b  5282c137
_25  b2cb9c98  4f1b46f3  5f5e6091  e51ddf94  e5d8af57
_26  37c9c164  623049e6  8fe001f4  a30567ca  66a76a26
_27  2824a5f6  d7020589  aa655a2f  3516f6e6  f06c53ac
_28  1adce6ef  b28479f6  07d13a8f  07d13a8f  1adce6ef
_29  8ba8b39a  e6c5b5cd  6dc710ed  18231224  8ff4b403
_30  891b62e7  c92f3b61  36103458  52b8680f  01adbab4
_31  e5ba7672  07c540c4  8efede7f  1e88c74f  1e88c74f
_32  f54016b9  b04e4670  3412118d  74ef3502  26b3c7a7
_33  21ddcdc9  21ddcdc9
_34  b1252a9d  5840adea
_35  07b5194c  60f6221e  e587c466  6b3a5ca6  21c9516a
_36                      ad3062eb
_37  3a171ecb  3a171ecb  3a171ecb  3a171ecb  32c7478e
_38  c5c50484  43f13e8b  3b183c5c  9117a34a  b34f3128
_39  e8b83407  e8b83407
_40  9727dd16  731c3655

In [27]:
#Get numeric and categorical column names
numericCols = df.columns[1:15]
categoricalColumns = df.columns[15:41]

print(numericCols)
print(categoricalColumns)

['_2', '_3', '_4', '_5', '_6', '_7', '_8', '_9', '_10', '_11', '_12', '_13', '_14', '_15']
['_16', '_17', '_18', '_19', '_20', '_21', '_22', '_23', '_24', '_25', '_26', '_27', '_28', '_29', '_30', '_31', '_32', '_33', '_34', '_35', '_36', '_37', '_38', '_39', '_40']

In [48]:
df=df_bkp
from pyspark.sql.types import IntegerType,StringType
from pyspark.sql.functions import udf
#df = df.replace('',None)
def rep_fu(x):
    ret=x
    if x.strip()=='':
        ret=0
    return ret  

def rep_fu_string(x):
    ret=x
    if x.strip()=='':
        ret='__Dummy__'
    return ret

rep_fun_string=udf(rep_fu_string)
df = df.select(*[rep_fun_new(column).alias(column).cast(IntegerType()) if column in numericCols else column for column in df.columns])
df = df.select(*[rep_fun_string(column).alias(column).cast(StringType()) if column in categoricalColumns else column for column in df.columns])
pd.DataFrame(df.take(5),columns=df.columns).transpose()

             0          1          2          3          4
_1           0          0          0          0          0
_2           1          2          2          0          3
_3           1          0          0        893         -1
_4           5         44          1          0          0
_5           0          1         14          0          0
_6        1382        102        767       4392          2
_7           4          8         89          0          0
_8          15          2          4          0          3
_9           2          2          2          0          0
_10        181          4        245          0          0
_11          1          1          1          0          1
_12          2          1          3          0          1
_13          0          0          3          0          0
_14          2          4         45          0          0
_15       None       None       None       None       None
_16   80e26c9b   f0cf0024   0a519c5c   2c16a946   ae46a29d
_17   fb936136   6f67f7e5   02cf9876   a9a87e68   c81688bb
_18   7b4723c4   41274cd7   c18be181   2e17d6f6   f922efad
_19   25c83c98   25c83c98   25c83c98   25c83c98   25c83c98
_20   7e0ccccf   fe6b92e5   7e0ccccf   fe6b92e5   13718bbd
_21   de7995b8   922afcc0   c78204a1   2e8a689b   ad9fa255
_22   1f89b562   0b153874   0b153874   0b153874   0b153874
_23   a73ee510   a73ee510   a73ee510   a73ee510   a73ee510
_24   a8cd5504   2b53e5fb   3b08e48b   efea433b   5282c137
_25   b2cb9c98   4f1b46f3   5f5e6091   e51ddf94   e5d8af57
_26   37c9c164   623049e6   8fe001f4   a30567ca   66a76a26
_27   2824a5f6   d7020589   aa655a2f   3516f6e6   f06c53ac
_28   1adce6ef   b28479f6   07d13a8f   07d13a8f   1adce6ef
_29   8ba8b39a   e6c5b5cd   6dc710ed   18231224   8ff4b403
_30   891b62e7   c92f3b61   36103458   52b8680f   01adbab4
_31   e5ba7672   07c540c4   8efede7f   1e88c74f   1e88c74f
_32   f54016b9   b04e4670   3412118d   74ef3502   26b3c7a7
_33   21ddcdc9   21ddcdc9  __Dummy__  __Dummy__  __Dummy__
_34   b1252a9d   5840adea  __Dummy__  __Dummy__  __Dummy__
_35   07b5194c   60f6221e   e587c466   6b3a5ca6   21c9516a
_36  __Dummy__  __Dummy__   ad3062eb  __Dummy__  __Dummy__
_37   3a171ecb   3a171ecb   3a171ecb   3a171ecb   32c7478e
_38   c5c50484   43f13e8b   3b183c5c   9117a34a   b34f3128
_39   e8b83407   e8b83407  __Dummy__  __Dummy__  __Dummy__
_40   9727dd16   731c3655  __Dummy__  __Dummy__  __Dummy__

In [49]:
print(df[df['_1'] == 0].count())
print(df[df['_1'] == 1].count())

156
44

In [50]:
stages = []
indexerCols = []

for categoricalCol in categoricalColumns:
    indexerCol = categoricalCol + "Index"
    indexer = StringIndexer(inputCol=categoricalCol, outputCol= indexerCol).setHandleInvalid("keep")
    stages += [indexer]
    indexerCols.append(indexerCol)

label_stringIdx = StringIndexer(inputCol = '_1', outputCol = 'output')
stages += [label_stringIdx]

In [51]:

assembler = VectorAssembler(inputCols=indexerCols + numericCols, outputCol="features")
stages += [assembler]

In [52]:

pipeline = Pipeline(stages = stages)
pipelineModel = pipeline.fit(df)
df = pipelineModel.transform(df)

selectedCols = ['output', 'features'] + cols
df = df.select(selectedCols)

pd.DataFrame(df.take(5), columns=df.columns).transpose()

Py4JJavaError: An error occurred while calling o6556.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 373.0 failed 1 times, most recent failure: Lost task 0.0 in stage 373.0 (TID 906, localhost, executor driver): org.apache.spark.SparkException: Failed to execute user defined function($anonfun$3: (struct<_16Index:double,_17Index:double,_18Index:double,_19Index:double,_20Index:double,_21Index:double,_22Index:double,_23Index:double,_24Index:double,_25Index:double,_26Index:double,_27Index:double,_28Index:double,_29Index:double,_30Index:double,_31Index:double,_32Index:double,_33Index:double,_34Index:double,_35Index:double,_36Index:double,_37Index:double,_38Index:double,_39Index:double,... 15 more fields>) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Values to assemble cannot be null.
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:163)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:146)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:146)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:99)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:98)
	... 19 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:363)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:38)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3195)
	at org.apache.spark.sql.Dataset$$anonfun$collectToPython$1.apply(Dataset.scala:3192)
	at org.apache.spark.sql.Dataset$$anonfun$52.apply(Dataset.scala:3254)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:77)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3253)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3192)
	at sun.reflect.GeneratedMethodAccessor68.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Failed to execute user defined function($anonfun$3: (struct<_16Index:double,_17Index:double,_18Index:double,_19Index:double,_20Index:double,_21Index:double,_22Index:double,_23Index:double,_24Index:double,_25Index:double,_26Index:double,_27Index:double,_28Index:double,_29Index:double,_30Index:double,_31Index:double,_32Index:double,_33Index:double,_34Index:double,_35Index:double,_36Index:double,_37Index:double,_38Index:double,_39Index:double,... 15 more fields>) => vector)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$10$$anon$1.hasNext(WholeStageCodegenExec.scala:614)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:253)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$2.apply(SparkPlan.scala:247)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.RDD$$anonfun$mapPartitionsInternal$1$$anonfun$apply$25.apply(RDD.scala:830)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:38)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:324)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:288)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:87)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1142)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:617)
	... 1 more
Caused by: org.apache.spark.SparkException: Values to assemble cannot be null.
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:163)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$assemble$1.apply(VectorAssembler.scala:146)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.WrappedArray.foreach(WrappedArray.scala:35)
	at org.apache.spark.ml.feature.VectorAssembler$.assemble(VectorAssembler.scala:146)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:99)
	at org.apache.spark.ml.feature.VectorAssembler$$anonfun$3.apply(VectorAssembler.scala:98)
	... 19 more